.wrapper {
    /* width: 100%;
    background-color: antiquewhite;
    height: 100px;
    display: flex;
    justify-content: space-between; */

}
.logoWrapper {
    /* height: 100px; */
    max-width: 100px;
}
/* @media (prefers-reduced-motion: no-preference) {
    .logoWrapper {
      animation: App-logo-spin infinite 1000s linear;
    }
}
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
  
.logo {
    width: 100%;
}
.profile {
    display: flex;
	align-items: center;
	justify-content: center;
}